<article>
  <h2 class="section-heading">Holidais in {{selectedYear}}</h2>
  <br>
  <form >
    <label for="selectedYear">Select Year:</label>
    <br>
    <select name="selectedYear" [(ngModel)]="selectedYear" (change)="onYearChange($event)">
      <option *ngFor="let year of years" [value]="year">
        {{ year }}
      </option>
    </select>
  </form>
  <br>
  <section class="listing-features" *ngFor="let country of countriesHolidays">
    <h3>{{country.name}}</h3>
    <br>
    <ul>
      <li>Local Holiday Name: {{ country?.localName }}</li>
      <li>Date: {{ country?.date }}</li>
      <li>
        Type: {{ country?.types?.[0] }}
      </li>
    </ul>
  </section>
</article>